<section id="certifications">
    <div class="container">
      <h3>Certifications</h3>
      <div class="panel panel-default">
        <div class="panel-body">
            <h5>
                <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Advanced CSS & Sass Flexbox Grid Animations</strong>
                <img  src="{{ site.baseurl }}static/img/certificates/advanced_CSS_sass_ Flexbox_Grid_Animations.jpg" alt="Responsive image">
            </h5>
        </div>
      </div>
    </div>
</section>
