<section id="certifications">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Sun Certfied JAVA Developer 6</strong>
                    <img width="800" height="600" src="{{ site.baseurl }}static/img/certificates/scjp1.6.jpg"
                        alt="Responsive image">
                </h3>
            </div>
            <div class="panel-body">
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>The Python Bible</strong>
                    <img width="800" height="600" src="{{ site.baseurl }}static/img/certificates/the_python_bible.jpg"
                        alt="Responsive image">
                </h3>
            </div>

            <div class="panel-body">
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Microservices Software Architecture Patterns
                        Techniques</strong>
                    <img width="800" height="600"
                        src="{{ site.baseurl }}static/img/certificates/Microservices_Software_Architecture_Patterns_Techniques.jpg"
                        alt="Responsive image">
                </h3>
            </div>
            <div class="panel-body">
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>The Ultimate Hands On Hadoop Tame Your Big
                        Data</strong>
                    <img width="800" height="600"
                        src="{{ site.baseurl }}static/img/certificates/the_ultimate_hands_on_hadoop_tame_your_big_data.jpg"
                        alt="Responsive image">
                </h3>
            </div>

            <div class="panel-body">
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Apache Flink</strong>
                    <img width="800" height="600" src="{{ site.baseurl }}static/img/certificates/apache_flink.jpg"
                        alt="Responsive image">
                </h3>
            </div>

            <div class="panel-body">
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Apache Spark 2.0 With Java Learn Spark From Big Data
                        Guru</strong>
                    <img width="800" height="600"
                        src="{{ site.baseurl }}static/img/certificates/apache_spark_2.0_with_Java_learn _spark_from_big _data_guru.jpg"
                        alt="Responsive image">
                </h3>
            </div>

            <div class="panel-body">
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Apache Spark2 With Scala Hands On With Big
                        Data</strong>
                    <img width="800" height="600"
                        src="{{ site.baseurl }}static/img/certificates/apache_spark2_with_scala_hands_on_with_big_data.jpg"
                        alt="Responsive image">
                </h3>
            </div>



            <div class="panel-body">
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Advanced CSS & Sass Flexbox Grid Animations</strong>
                    <img width="800" height="600"
                        src="{{ site.baseurl }}static/img/certificates/advanced_CSS_sass_ Flexbox_Grid_Animations.jpg"
                        alt="Responsive image">
                </h3>
            </div>

            <div class="panel-body">
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Build Responsive Real World Websites with HTML5
                        CSS3.jpg</strong>
                    <img width="800" height="600"
                        src="{{ site.baseurl }}static/img/certificates/Build_Responsive_Real_World_Websites_with_HTML5_CSS3.jpg"
                        alt="Responsive image">
                </h3>
            </div>

            <div class="panel-body">
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Html5 Canvas Basics</strong>
                    <img width="800" height="600"
                        src="{{ site.baseurl }}static/img/certificates/html5_canvas_basics.jpg" alt="Responsive image">
                </h3>
            </div>

            <div class="panel-body">
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Markdown</strong>
                    <img width="800" height="600" src="{{ site.baseurl }}static/img/certificates/markdown.jpg"
                        alt="Responsive image">
                </h3>
            </div>


            <div class="panel-body">
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Tableau qualified associate certification in 60
                        minutes</strong>
                    <img width="800" height="600"
                        src="{{ site.baseurl }}static/img/certificates/Tableau_qualified_associate_certification_60_minutes.jpg"
                        alt="Responsive image">
                </h3>
            </div>



        </div>
    </div>
</section>