<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/sandeshdahake/hilfie">Hilfi</a></strong>
			<br>Hilfi is open source Q & A Platform for Students and Teachers to interact.Its devloped using Sping boot, 
			Angular 5, My sql and many other open source cool libs
		</h5>
	         <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/sandeshdahake/Ecommerce-HTML-Scrapper">Ecommerce HTML Scrapper</a></strong>
			<br>Ecommerce HTML Scrapper is build using python and scrappy. this utility scraps other html ecommerce sites and populate  product 
			 data for your website
		</h5>
	        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/sandeshdahake/eCommerce-Android-APP">eCommerce Android APP</a></strong>
			<br>Open Source Android app for eCommerce websites
		</h5>
	        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/sandeshdahake/Ecommerce-WEB-Portal">Ecommerce WEB Portal</a></strong>
		        <br>eCommerce websites for comparing prices across different portals and links to respective portal to buy. Built in PHP and code igniter.
		</h5>
    </div>
  </div>
</div>
</section>
